<%- await include('views/includes/head.ejs'); %>
<link rel="stylesheet" href="/styles/markdown.css" />
<script src="/js/highlight.min.js"></script>
</head>
<body>
  <%- await include('views/includes/navbar.ejs'); %>
    <div class="blog-container">
    <%- blogData.blogContent %> 
    <p class="tags">Tags: <% for( tag of blogData.blogMeta.tags ) { %>`<%- tag %>`&#160;&#160;<% }%></p>
    </div>
  <script>
  hljs.highlightAll();
  </script>
</body>
</html>
